################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/bin/Debug/net8.0
/api/obj
/.vs/exercise1
/ui/bamUI/.vscode
